@charset "UTF-8";
/* Viwer 共通 */
body {
    background-color: cornsilk;
    font-family: serif;
    display: grid;
    -webkit-text-size-adjust: 100%;
    z-index: 1;
    right:"";
    position: fixed;
}

.header{
    z-index: 2;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: auto;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100vw;
}


.body{
    top: 60px;
    position:fixed;
    right: 0;
    width: 100vw;
    height: Calc(100vh - 60px);
}

/* ヘッダ周り */

.header {
    width: 100vw;
}

.button {
    outline: none;
    padding-bottom: 2px;
    border-right:  1px solid #88881c;
    border-bottom: 1px solid #88881c;
    background-color:cornsilk;
    margin: 0.5rem;
    font-size: 12pt;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.button:hover {
    border-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.button:active {
    transform: translate3d(1px, 1px, 1px);
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid #88881c;
    border-top: 1px solid #88881c;
    box-shadow: 0 0 0 0;
}

body[colorset="dark"] .button{
    background-color: #333333;
    color: #cccccc;
    -webkit-text-size-adjust: 100%;
}

body[colorset="light"] .button{
    background-color: white;
    color: black;
    -webkit-text-size-adjust: 100%;
}

.switchbutton, .fontbutton, .menubutton, .reloadbutton, .browsebutton, .selector{
    position: absolute; 
    padding: 0;
}


.menubutton{
    right: 2rem;
}

.selector{
    position: absolute;
    right: 100%;
    top: 0%;
    z-index:20;
}

.fontbutton{
    right: 5rem;
}

#header-title{
    top: 10px;
    position: fixed;
    width : 60vw;
    left: 20vw;
    text-align: center;
    font-size: 18pt;
    font-weight: "bold";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.switchbutton{
    left: 1rem;
}
.reloadbutton{
    left: 6.4rem;
}

.browsebutton{
    left: 3.7rem;
}


.footer{
    z-index: 3;
}

/* epub周り
   style-standard.cssがそのままつかえる様に加工する
*/
.em-dot{
    text-emphasis-style: dot;
}

.tcy{
    -webkit-text-combine:         horizontal;
    -webkit-text-combine-upright: all;
    text-combine-upright: all;
}


/* 表示スタイル周り */

body[colorset="dark"]{
    background-color: #333333;
    color: #cccccc;
    -webkit-text-size-adjust: 100%;
}

body[colorset="light"]{
    background-color: white;
    color: black;
    -webkit-text-size-adjust: 100%;
}

body[fontset="serif"]{        
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;;
}

body[fontset="sansserif"]{
    font-family: sans-serif; 
}

body[fontsize="XL"] .body{
    font-size: 300%;
}
body[fontsize="LL"] .body{
    font-size: 200%;
}

body[fontsize="L"] .body{
    font-size: 150%;
}
body[fontsize="M"] .body{
    font-size: 100%;
}
body[fontsize="S"] .body{
    font-size: 80%;
}

div.body a,div.body a.visited{
    text-decoration: none;
    color: blue;
}

div.body a:active,div.body a:hover {
    color: black;
    background-color: aqua;
}

div.list {
    padding-bottom: 10%;
}

body[colorset="dark"] div.body a,div.body a.visited{
    text-decoration: none;
    color: red;
}

body[colorset="dark"] div.list a:active,div.body a:hover {
    color:  white;
    background-color: grey;
}


.selector{
    writing-mode:horizontal-tb;
    width: 6rem;
    height: 4rem
}

/* メニュー周り */
select{
/*
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
*/
    width: 6rem;
    border-color: grey;
    border-bottom-color: grey;
    background-color: white;
}

/* 目次周り */


div.footer a ,div.footer a:visited{
    text-decoration: none;
    color: black;
}

body[colorset="dark"] div.footer a ,div.footer a:visited{
    color: black;
}


div.footer a:active,div.footer a:hover {
    color: #ecaf69;
    background-color: #4e4127;
}

body[colorset="dark"] div.footer a:active,div.footer a:hover {
    color: #cccc88;
    background-color: #666633;
}


div.list a ,div.footer a:visited{
    text-decoration: none;
    color: black;
}

p {
    padding: 1px;
}

.accbox {
    margin: 0 0;
    padding: 0;
    max-width: 10rem;/*最大幅*/
    max-height: 25rem;
}

/*ラベル*/
.accbox label {
    display: block;
    color :#ffeeff;
    font-weight: bold;
    background : #726e57;
    cursor :pointer;
}

body[colorset="dark"] .accbox label {
    color: black;
    background: #cccccc;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :#726e57;
}

body[colorset="dark"] label:hover {
    background: #776666;

}
/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    width: auto;
    padding: 5px;
    background: #ffeacc;
    opacity: 1;
}

body[colorset="dark"] .cssacc:checked + .accshow {
    background: #eaeaea;
}